---
import { ViewTransitions } from 'astro:transitions'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="og:image"
      content="https://res.cloudinary.com/silverbeard/image/upload/v1701307223/Screen_Shot_2023-11-29_at_8.19.26_PM_p2ct0i.png"
    />
    <link rel="icon" href="/favicon_io/android-chrome-192x192.png" />
    <link rel="icon" href="/favicon_io/android-chrome-512x512.png" />
    <link rel="icon" href="/favicon_io/apple-touch-icon.png" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="icon" href="/favicon_io/favicon-32x32.png" />
    <link rel="icon" href="/favicon_io/favicon.ico" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@500&f[]=melodrama@600&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <h1>Welcome to Merry Movies!</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </header>

    <div class="container">
      <slot />
    </div>

    <style is:global>
      @font-face {
        font-family: 'CheeseDonut';
        src: url('/fonts/Cheese Donuts.otf');
      }
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      a {
        text-decoration: none;
      }
      ol,
      ul {
        list-style: none;
      }

      html {
        background: #f6f3e0;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body {
        --border-size: 1rem;
        padding: calc(var(--border-size) * 2);
      }
      body::before {
        content: '';
        position: fixed;
        top: 1rem;
        left: 1rem;
        border: 10px dotted #ffab9a;
        height: calc(100% - var(--border-size) * 3.5);
        width: calc(100% - var(--border-size) * 3.5);
        pointer-events: none;
      }
      header {
        text-align: center;
      }
      header a {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        margin: 1.5rem;
        color: #156556;
        font-family: 'Melodrama';
        z-index: 1;
      }
      h1 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        color: #156556;
        font-family: 'Melodrama';
        padding: 1.5rem clamp(1rem, 5%, 3rem);
      }
      .button {
        background: #f25434;
        color: #f6f3e0;
        border-radius: 7px;
        padding-block: 7px;
        padding-inline: 15px;
        transition: 0.3s;
        border: 5px solid transparent;
        text-align: center;
      }
      .button:hover {
        border: 5px dotted #f25434;
        background-color: #f6f3e0;
        color: #f25434;
      }
      @media only screen and (max-width: 787px) {
        h1 {
          font-size: 3rem;
        }

        body {
          height: auto;

          padding: calc(var(--border-size) * 1);
        }

        body::before {
          content: '';
          /* position: static; */
          top: 1rem;
          left: 1rem;
          border: none;
          /* height: 100vh; */
          width: calc(100% - var(--border-size) * 3.5);
          pointer-events: none;
        }
      }
    </style>
    <style>
      .container {
        --mask: linear-gradient(#000 0 0) 50% / calc(100% - 55.5px)
            calc(100% - 55.5px) no-repeat,
          radial-gradient(farthest-side, #000 98%, #0000) 0 0/60px 60px round;
        position: fixed;
        height: calc(100% - var(--border-size) * 14);
        width: calc(100% - var(--border-size) * 4.3);
        overflow-y: scroll;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        background-color: #156556;
      }
      @media only screen and (max-width: 787px) {
        .container {
          position: static;
          margin: 0 auto;
          width: 99%;
          height: auto;
        }
      }
    </style>
  </body>
</html>
